.info{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-info{
    margin-top: 60px;
    width: 700px;
    border-radius: 10px;
}

.info-sub{
    max-width: 1150px;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 35px;
}

.info2{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
    margin-bottom: 50px;
}

.info-sub2{
    max-width: 750px;
    font-size: 17px;
    margin: 0;
    margin-bottom: 25px;
}

.info2-right{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-info-icon{
    border-radius: 10px;
    margin-top: 50px;
    width: 350px;
}